@import 'variables';
.card-course-item{
    margin-top: auto;
}
.user-avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
.check-box-all{
    width: 200px;
    margin: 0 8px;
}
.check-box-all-options{
    width: 170px;
    margin: 0 16px;
}