<!-- Đoạn mã HTML -->
<div class="mt-4">
    <h3>Thêm khoản chi tiêu</h3>
    <form id="expenseForm" method="post" action="/courses/store">
        <div class="form-group">
            <label for="action">Chọn hành động</label>
            <select class="form-control" id="action" name="action">
                <option value="">--Chọn hành động--</option>
                <option value="Ăn uống">Ăn uống</option>
                <option value="Mua sắm">Mua sắm</option>
                <option value="Nhà ở">Nhà ở</option>
                <option value="Đi lại">Đi lại</option>
                <option value="Sức khoẻ">Sức khoẻ</option>
                <option value="Khác">Khác</option>
            </select>
        </div>
        <div class="form-group">
            <label for="prices">Nhập số tiền</label>
            <input type="number" class="form-control" id="prices" name="prices">
        </div>
        <div class="form-group">
            <label for="note">Nhập ghi chú</label>
            <input type="text" class="form-control" id="note" name="note">
        </div>
        <!-- Thêm trường ẩn để chứa giá trị của cookie "userId" -->
        <input type="hidden" id="userId" name="userId">
        <button type="submit" class="btn btn-primary">Thêm vào danh sách</button>
    </form>
</div>

<script src="/js/courses/create.js"> </script>
