<form id ='registerForm'>
  <div class="form-group">
    <label for="username">Nhập tên của bạn </label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="username">Nhập tên người dùng</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nhập mật khẩu</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Xác nhận mật khẩu</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
  </div>
  <div id="error-message" style="color: red;"></div>
  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('registerForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const name = document.getElementById('name').value;
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
         const errorMessage = document.getElementById('error-message'); 
        if (password !== confirmPassword) {
            errorMessage.textContent = 'Mật khẩu và xác nhận mật khẩu không khớp. Vui lòng kiểm tra lại.'; // Hiển thị thông báo lỗi
            return; 
        } else {
            errorMessage.textContent = ''; 
        }


        const formData = new URLSearchParams();
        formData.append('name',name);
        formData.append('username', username);
        formData.append('password', password);

        fetch('/account/stored', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formData.toString(),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {

                
                window.location.href = '/account/login';
            } else {
                
                console.error('Đăng ký không thành công.');
            }
        })
        .catch(error => {
            console.error('Lỗi kết nối hoặc lỗi từ server:', error);
        });
    });
});
</script>