<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home">QLTC online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <div id="userActions" class="navbar-nav ml-auto">
      <div id="loginText" style="display: none;">
        <a class="nav-link" href="/account/login">Đăng nhập</a>
      </div>
      <div id="userMenu" style="display: none;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" role="button" data-toggle="dropdown" aria-expanded="false" id="userDropdown">
            <img src="" alt="" class="user-avatar"> <span id="userName"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/courses/create"> Thêm hoạt động</a>
            <a class="dropdown-item" href="/me/stored/courses">Hoạt động của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" id="logout">Đăng xuất</a>
          </div>
        </li>
      </div>
    </div>
  </div>
</nav>

<script>
  var username = localStorage.getItem('username');
  var userMenu = document.getElementById('userMenu');
  var loginText = document.getElementById('loginText');
  
  if (username) {
    var name = localStorage.getItem('name');
    var userDropdown = document.getElementById('userDropdown');
    var userName = document.getElementById('userName');
    var logout = document.getElementById('logout');
    
    userName.textContent = name;
    userMenu.style.display = 'block';
    logout.onclick = function() {
      fetch('/account/logout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ logout: true }),
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          localStorage.removeItem('username');
          localStorage.removeItem('name');
          userMenu.style.display = 'none';
          loginText.style.display = 'block';
          window.location.href ='/account/login';
        } else {
          console.error('Đăng xuất không thành công.');
        }
      })
      .catch(error => {
        console.error('Lỗi kết nối hoặc lỗi từ server:', error);
      });
    };
  } else {
    loginText.style.display = 'block';
  }
</script>
