
<div>
	<section id="banner_header" class="header_area2">
        <div class="container">
            <div class="row banner_text">
                <div class="col-lg-5 offset-lg-4 col-md-8 offset-md-3">
                    <h2>Cách đơn giản nhất</h2>
                </div>
            </div>
            <div class="row banner_text">
                <div class="col-lg-5 offset-lg-4 col-md-8 offset-md-3">
                    <h2>Để quản lý chi tiêu cá nhân</h2>
                </div>
            </div>
            <div class="row banner_text">
                <div class="col-lg-4 offset-lg-5 col-md-8 offset-md-3 type_text">
                    <h1 class="cd-headline clip is-full-width">
                            <button class="start"><a  href="/account/register">Bắt đầu ngay</a></button>
                    </h1>
                </div>
                
            </div>
        </div>
  
    <section id="about" class="about_me">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="about_part">
                        <img src="/img/img1.png" class="img-fluid" alt="img"/>
                    </div>
                    
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="heading gap">
                        <h2>Ghi chép thu chi trở nên dễ dàng hơn</h2>
                        <p>Bạn chỉ tốn vài phút để ghi chép lại chi tiêu hàng ngày của mình, và phân loại vào các mục như là: Thức Ăn, Mua sắm; hay là thêm các khoản thu nhập như Lương, Quà tặng, v.v...</p>                        
                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-lg-8 col-md-6">
                    <div class="heading gap">
                        <h2>Theo dõi và quản lý tiền hiệu quản</h2>
                        <p>Money Lover tự động tạo cho bạn những biểu đồ báo cáo cực kỳ dễ nhìn, dễ hiểu, dễ nhớ, cho bạn một cái nhìn rõ ràng về các khoản thu chi của bản thân. Chẳng còn hoang mang không rõ 'tiền về nơi đâu' nữa!</p>                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about_part">
                        <img src="/img/img2.png" class="img-fluid" alt="img">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="about_part">
                        <img src="/img/img3.png" class="img-fluid" alt="img">
                    </div>
                    
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="heading gap">
                        <h2>Ghi chép thu chi trở nên dễ dàng hơn</h2>
                        <p>Bạn chỉ tốn vài phút để ghi chép lại chi tiêu hàng ngày của mình, và phân loại vào các mục như là: Thức Ăn, Mua sắm; hay là thêm các khoản thu nhập như Lương, Quà tặng, v.v...</p>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
	{{!-- services --}}
    <section id="service" class="my_services common">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading text-center">
                        <h2>Các tính năng nổi bật</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service_inner" class="my_services">
        <div class="container">
            <div class="row service_slic">
                <div class="col-md-4">
                    <div class="service_inner graphice text-center">
                        <div class="interest_icon">
                            <img src="/img/icon1.png" class="img-fluid" alt="">
                        </div>
                        <h4>Sử dụng trên nhiều thiết bị một lúc</h4>
                        <p>Money Lover có thể đồng bộ trên tất cả thiết bị và các nền tảng với tiêu chuẩn bảo mật chặt chẽ.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_inner text-center">
                        <div class="interest_icon">
                            <img src="/img/icon2.png" class="img-fluid" alt="">
                        </div>
                        <h4>Tự động nhắc nhở các khoản thu chi định kì</h4>
                        <p>Nhắc nhở bạn về các khoản thu chi định kỳ hàng tuần, hàng tháng, hàng năm... trước ngày giao dịch.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service_inner text-center">
                        <div class="interest_icon">
                            <img src="/img/icon3.png" class="img-fluid" alt="">
                        </div>
                        <h4>Tiết kiệm cho dự định tương lai</h4>
                        <p>Được nhắc nhở thường xuyên về khoản tiết kiệm, bạn sẽ nhanh chóng đạt được mục tiêu tài chính mà mình đề ra.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    </div>
    
  