<div class="mt-4">
        <h3 class="text-center">Biểu Đồ Chi Tiêu</h3>

        <div class="mt-4">
            <p>Xem biểu đồ chi tiêu năm
            <select id="year-selector">
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024" selected>2024</option>
            </select>
            </p>
            <div id="chart-container">
                
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/js/me/chart.js"></script>
    