<div class="mt-4">
  <form name="container-form">
    <h3 class="text-center">Hoạt động đã lưu</h3>
    <a href="/me/chart">Xem biểu đồ</a>
    <div class="mt-4 d-flex align-items-center">
    </div>
    <div class="mt-4">
      <select id="month-selector">
        <option value="0">Tháng 1</option>
        <option value="1">Tháng 2</option>
        <option value="2">Tháng 3</option>
        <option value="3">Tháng 4</option>
        <option value="4">Tháng 5</option>
        <option value="5">Tháng 6</option>
        <option value="6">Tháng 7</option>
        <option value="7">Tháng 8</option>
        <option value="8">Tháng 9</option>
        <option value="9">Tháng 10</option>
        <option value="10">Tháng 11</option>
        <option value="11">Tháng 12</option>
      </select>
      <select id="year-selector">
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023" selected>2023</option>
      </select>
      <span id="total-amount-display"></span>
      <div>
        <table class="table-actions">
        <thead>
          <tr>
            <td></td>
            <th scope="col">Loại hoạt động</th>
            <th scope="col">Số tiền</th>
            <th scope="col">Ghi chú</th>
            <th scope="col">Thời gian tạo</th> 
            <th></th>
          </tr>
        </thead>
        <div id="no-activity-message" class="text-center" style="display: none;">Không có hoạt động nào.<a href="/courses/create"> Thêm hoạt động</a></div>
        <tbody id="activity-table-body">    
        </tbody>
      </table>
      </div>
    </div>
  </form>
</div>
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thao tác này sẽ xoá vĩnh viễn hoạt động</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-form" method="post"></form>
<script src="/js/me/storedCourses.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

